<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <h1 slot="start">Olá, Kaio!</h1>
      <ion-img slot="end" src="../../assets/avatar.png" alt="Foto Perfil"></ion-img>
    </ion-toolbar>
  </ion-header>
  <main>
    <h2 class="title-modelos">Modelo simples</h2>
    <swiper-container class="ion-padding" #swiper [slidesPerView]="2.5" [intialSlide]="1" [spaceBetween]="20"
      (afterinit)="swiperReady()">
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
    </swiper-container>
    <h2 class="title-modelos">Mais design</h2>
    <swiper-container class="ion-padding" #swiper [slidesPerView]="2.5" [intialSlide]="1" [spaceBetween]="20"
      (afterinit)="swiperReady()">
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
    </swiper-container>
    <h2 class="title-modelos">Modelo Premium </h2>
    <swiper-container class="ion-padding" #swiper [slidesPerView]="2.5" [intialSlide]="1" [spaceBetween]="20"
      (afterinit)="swiperReady()">
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
      <swiper-slide>
        <ion-thumbnail (click)="goPageCurriculo()">
          <img alt="Silhouette of mountains" src="../../assets/img-curriculo.png" />
        </ion-thumbnail>
      </swiper-slide>
    </swiper-container>
  </main>
</ion-content>